@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<head>
    <script src ="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script> 
</head>
<body>
    <iframe src='https://webchat.botframework.com/embed/MTCVABot-dp43h5i?s=lCnaQn76hD8.k8MGE5v5uqea9Pqg9uGtWDc9TBnP56WteiLIyU5c81U' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</body>

